extends template.pug

block content
  h1 #{title}
  p.lead #{content}
  p
    | The boilerplate is in part suggested by the 
    a(href='https://expressjs.com/en/starter/installing.html') Express
    |  starter guide, as well as MDN webdocs' 
    a(href='https://developer.mozilla.org/en-US/docs/Learn/Server-side/Express_Nodejs') Express module
  p
    | The background image shows the restaurant car of the Orient Express, available from 
    a('https://commons.wikimedia.org/wiki/File:Orient_Express,_Restaurant_car.jpg') Wikimedia Commons
    |  & licensed under 
    a(href='https://creativecommons.org/licenses/by-sa/4.0/deed.en') CC BY-SA 4.0
