extends wiki.pug

block wikicontent
  h2 This wiki is a dummy, dummy!
  p It has been created to demo routes in Express
  p.
    All routes under the <code>/wiki/</code> path live in their own module.<br> 
    The same could be done for blogs, or any sub-section with multiple routes
    
